/* style guide colors */

/* primary colors */
$color-lt-gray:               #E8E8E8;
$color-green:                 #99CC00;
$color-white:                 #FFFFFF;
$color-black:                 #333333;

/* secondary colors */
$color-blue:                   #80D8FF;
$color-brown:                  #534640;
$color-red:                    #D12806;
$color-pink:                   #FF91B9;
$color-gray:                   #969696;
$color-purple:                 #79459B;

$color-lt-blue:                #82C9F0;
$color-baby-blue:              #B6E1F8;
$color-green:                  #25AD67;
$color-lt-green:               #B7D137;
$color-chartreuse:             #e4e522;
